<% @comment = @post.comment.new %>
<%= form_for @comment,:url=>"/user/#{current_user.id}/post/#{@post.id}/comments",:method=>"post" do |p| %>
	<ul class="nav nav-list">
		<li><%= p.text_field :title,:style=>"width:400px" ,:placeholder=>"Title..."%></li>
		<li><%= p.text_area :content,:style=>"width:400px",:placeholder=>"Content..."%></li>
		<li><%= p.submit :class=>"btn" %></li>
	</ul>
<% end %>