<div class="row" style="margin-top:20px"></div>
<div class="container">

<div class="jumbotron">
	<h1>Start here!</h1>
	<p class="lead">
		"Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus."
	</p>
	<a href="/post/new" class="btn btn-large btn-success">New notes</a>
</div>
<hr>
<div class="footer">
	<p>© power by showlovel</p>
	</div>
</div>
