<div class="container">
<div class="well pricehover">
<div class="container">
<div class="span5">
<div>
	<%= @post.title %>
</div>
<h4>Comments below</h4>

<% @post.comment.each do |c| %>
<div class="well pricehover">
<ul class="nav nav-list">
	<li>
		<%= c.title %>
		<%= c.content%>
	</li>
</ul>
</div>
<% end %>
</div>
<div class="offset5"><%= render "comments/form" %></div>
</div>
</div>