<div class="container" >
<div class="well pricehover">
<div class="container" >

		<div class="span1">
			<div class="container">
				<div class="container-fliud span3">
					<div class="row-fluid">
						<%= render "form" %>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>